
.todo-item {
    background-color: #262626;
    padding: 8px 5px;
    border-radius: 10px;
    margin-bottom: 7px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.checked {
        background-color: #EFEFEF;
        color: #777777;

        /* label:hover::before {
            opacity: 0.7;
        } */
    }

    label {
        position: relative;
        display: inline-block;
        cursor: pointer;
        
        /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
        padding: 5px;
        padding-left: 22px;
        margin-left: 10px;

        &::before,
        &::after {
            position: absolute;
            content: "";
            
            /*Needed for the line-height to take effect*/
            display: inline-block;
        }

        /*Outer box of the fake checkbox*/
        &::before {
            height: 20px;
            width: 20px;
            border: 2px solid #ccc;
            left: -14px;
            border-radius: 20px;
            margin-top: -1px;
            transition: background-color 0.2s;
        }

        &:hover::before {
            background-color: rgba(200,200,200, 0.3);
        }

        &:active::before {
            background-color: rgba(200,200,200, 0.6);
        }
        
        /*Checkmark of the fake checkbox*/
        &::after {
            height: 5px;
            width: 9px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-45deg);
            left: -8px;
            top: 11px;
            color: white;
        }
    }

    input[type="checkbox"] {
        opacity: 0;

        /*Hide the checkmark by default*/
        & + label::after {
            opacity: 0;
        }

        /*Unhide on the checked state*/
        &:checked + label::after {
            opacity: 1;
        }

        &:checked + label::before {
            background-color: #38BF77;
            border-color: #38BF77;
            transition: opacity 0.2s;
        } 

        &:checked + label:hover::before {
            opacity: 0.7;
        }
        
        /*Adding focus styles on the outer-box of the fake checkbox*/
        &:focus + label::before {
            outline: rgb(59, 153, 252) auto 5px;
        }

        &:active + label::before {
            outline: none;
        }
    }

    button {
        height: 30px;
        width: 30px;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 1em;
        margin-right: 8px;
        cursor: pointer;

        .mdiv {
            display: block;
            height: 20px;
            width: 2px;
            margin-left: 7px;
            background-color: #A2A2A2;
            transform: rotate(45deg);
            z-index: 1;
              
            .md {
                height: 20px;
                width: 2px;
                background-color: #A2A2A2;
                transform: rotate(90deg);
                z-index: 2;
                display: block;
            }
        }

        &:hover {
            .mdiv, .md {
                background-color: #EA6161;
                transition: background-color 0.2s;
            }
        }

        &:active {
            outline: none;
        }
    }
}
